body {
	position: relative;
	font: 13px 'Helvetica Neue';
	width: 100%;
	overflow: hidden;
	background-color: #313131;
	color: #ccc;
}

span.status {
	position: fixed;
	padding: 15px;
}

#info {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	text-align: center;
}

#textbox {
	position: fixed;
	top: 47%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	text-align: center;
	font-size: 54px;
}

#prevbox, #nextbox {
	position: fixed;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
	text-align: center;
	opacity: 0.65;
}

#prevbox {
	top: 42%;
}

#nextbox {
	top: 60%;
}